<ion-header>
  <ion-toolbar>
    <ion-title>BIENVENIDO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        
          <div class="img">
            <img [src]="img">
          </div>  
          <div class="bodysito">
            <ion-label class="texto"> Aplicación con una lista de los personajes de la serie de televisión Rick and Morty </ion-label>
          </div>
          <div class="bodysito">
            
            <ion-label class="texto"> Ver personajes </ion-label>
          </div>
        <div class="botones">
          <a href="#" class="rainbow-button" target="blank_" alt="VAMOS"></a>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

